{% extends 'base.html.twig' %}

{% block title %}BIOGY{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">BIOGY</h1>
<img style="display: flex; width: 40em; align-content: center; margin:auto; padding-top: 8em;" src="{{asset('uploads/biogy-duisansx2.png')}}">
{% endblock %}
